* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: -20px;
    width: 100px;
    animation: pipe-animation 1.5s linear infinite;
}

.mario {
    position: absolute;
    width: 110px;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
    from {
        right: -85px;
    }

    to {
        right: 100%;
    }
    
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 100px;
    }

    50% {
        bottom: 100px;
    }

    60% {
        bottom: 100px;
    }

    100% {
        bottom: 0;
    }
}