* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    user-select: none;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

canvas {
    overflow: hidden;
    border: 2px solid grey
}

/* .game-board {
    width: 100%;
    height: 500px;
    border-bottom: 20px solid rgb(35, 165, 35);
    background: linear-gradient(#87CEEB, #E0F6FF);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: -20px;
    width: 100px;
    animation: pipe-animation 1.5s linear infinite;
}

.mario {
    position: absolute;
    width: 110px;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 450px;
    padding-top: 50px;
    animation: clouds-animation 10s linear infinite;
}

.score {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    font-family: mario-font;
    color: #fff;
    padding: 10px;
    background: #000;
    border-radius: 0 0 0 10px;
}

@font-face {
    font-family: mario-font;
    src: url(../font/Super-Mario-World.ttf);
}

@keyframes pipe-animation {
    from {
        right: -85px;
    }

    to {
        right: 100%;
    }
    
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 100px;
    }

    50% {
        bottom: 100px;
    }

    60% {
        bottom: 100px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -450px;
    }

    to {
        right: 100%;
    }
} */